@model MVC_Midterm.Models.Course
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Course</h2>
@using (Html.BeginForm("Edit", "Courses"))
{
    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Discription)
        @Html.TextBoxFor(m => m.Discription, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TutorName)
        @Html.TextBoxFor(m => m.TutorName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseRating)
        @Html.TextBoxFor(m => m.CourseRating, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseRating, "Int", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Course")
</div>



