@model MVC_Midterm.Models.Student
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this Student ? </h2>
@using (Html.BeginForm("Delete", "Student"))
{
    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        @Html.DisplayNameFor(m => m.FirstName): 
        @Html.DisplayFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.LastName): 
        @Html.DisplayFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.CourseID): 
        @Html.DisplayFor(m => m.CourseID)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.CourseEnrolledDate): 
        @Html.DisplayFor(m => m.CourseEnrolledDate)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.CourseStatus): 
        @Html.DisplayFor(m => m.CourseStatus)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.Grade): 
        @Html.DisplayFor(m => m.Grade)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Student")
</div>

