@model MVC_Midterm.Models.Student
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Student</h2>
@using (Html.BeginForm("Edit", "Student"))
{
    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control"  })
        @Html.ValidationMessageFor(m=>m.FirstName, "", new { @class= "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseID)
      
        @Html.TextBoxFor(m => m.CourseID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseID, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseEnrolledDate)
        <input class="form-control" asp-for="CourseEnrolledDate" type="date" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseStatus)
        @Html.TextBoxFor(m => m.CourseStatus, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseStatus, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Grade)
        @Html.TextBoxFor(m => m.Grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Grade, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Student")
</div>

